[submodule "modules/emacs.d"]
	path = modules/emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "modules/doom.d"]
	path = modules/doom.d
	url = git@github.com:SovereignShop/doom.git
[submodule "modules/skyhook"]
	path = modules/skyhook
	url = git@github.com:SovereignShop/skyhook.git
[submodule "modules/blog"]
	path = modules/blog
	url = git@github.com:jmicahc/blog.git
[submodule "modules/practice"]
	path = modules/practice
	url = git@github.com:SovereignShop/practice.git
[submodule "modules/codenames"]
	path = modules/codenames
	url = git@github.com:SovereignShop/codenames.git
[submodule "modules/dlfp"]
	path = modules/dlfp
	url = git@github.com:SovereignShop/dlfp.git
[submodule "modules/clj-rosbag"]
	path = modules/clj-rosbag
	url = https://github.com/SovereignShop/clj-rosbag
[submodule "modules/clj-raft"]
	path = modules/clj-raft
	url = git@github.com:SovereignShop/clj-raft.git
[submodule "modules/off-grid"]
	path = modules/off-grid
	url = git@github.com:SovereignShop/off-grid.git
[submodule "modules/toko"]
	path = modules/toko
	url = git@github.com:SovereignShop/toko.git
[submodule "modules/agricola"]
	path = modules/agricola
	url = git@github.com:SovereignShop/agricola.git
[submodule "modules/heatsealer"]
	path = modules/heatsealer
	url = git@github.com:SovereignShop/heatsealer.main.git
[submodule "modules/blog-comments"]
	path = modules/blog-comments
	url = git@github.com:SovereignShop/blog-comments.git
[submodule "modules/openscad/scad-utils"]
	path = modules/openscad/scad-utils
	url = git@github.com:openscad/scad-utils.git
[submodule "modules/openscad/list-comprehension-demos"]
	path = modules/openscad/list-comprehension-demos
	url = git@github.com:openscad/list-comprehension-demos.git
[submodule "modules/openscad/threadlib"]
	path = modules/openscad/threadlib
	url = git@github.com:adrianschlatter/threadlib.git
[submodule "modules/openscad/scad-lib-FDMscrews"]
	path = modules/openscad/scad-lib-FDMscrews
	url = https://github.com/mechadense/scad-lib-FDMscrews
[submodule "modules/cura"]
	path = modules/cura
	url = git@github.com:SovereignShop/cura.git
[submodule "modules/vine-drill"]
	path = modules/vine-drill
	url = git@github.com:SovereignShop/vine-drill.git
[submodule "modules/foam-generator"]
	path = modules/foam-generator
	url = git@github.com:cartesian-theatrics/foam-generator.git
[submodule "modules/cement-pump"]
	path = modules/cement-pump
	url = git@github.com:SovereignShop/cement-pump.git
[submodule "modules/openscad/NopSCADlib"]
	path = modules/openscad/NopSCADlib
	url = git@github.com:nophead/NopSCADlib.git
[submodule "modules/openscad/MarksEnclosureHelper"]
	path = modules/openscad/MarksEnclosureHelper
	url = git@github.com:sbambach/MarksEnclosureHelper.git
[submodule "modules/vane-motor"]
	path = modules/vane-motor
	url = git@github.com:SovereignShop/vane-motor.git
[submodule "modules/cabnetry-joints"]
	path = modules/cabinetry-joints
	url = git@github.com:SovereignShop/cabnetry-joints.git
[submodule "modules/pu-sprayer"]
	path = modules/pu-sprayer
	url = git@github.com:SovereignShop/pu-sprayer.git
[submodule "modules/vacuum-couplings"]
	path = modules/vacuum-couplings
	url = git@github.com:SovereignShop/vacuum-couplings.git
[submodule "modules/butterfly-motor"]
	path = modules/butterfly-motor
	url = git@github.com:SovereignShop/butterfly-motor.git
[submodule "modules/fdm-bearings"]
	path = modules/fdm-bearings
	url = git@github.com:SovereignShop/fdm-bearings.git
[submodule "modules/printer-calibration"]
	path = modules/printer-calibration
	url = git@github.com:SovereignShop/printer-calibration.git
[submodule "modules/openscad/dotSCAD"]
	path = modules/openscad/dotSCAD
	url = https://github.com/JustinSDK/dotSCAD
[submodule "modules/scad-paths"]
	path = modules/plexus
	url = git@github.com:SovereignShop/scad-paths.git
[submodule "modules/keys"]
	path = modules/keys
	url = git@github.com:SovereignShop/keys.git
[submodule "modules/clj-tf"]
	path = modules/clj-tf
	url = git@github.com:cartesian-theatrics/clj-tf
[submodule "modules/scad-cases"]
	path = modules/scad-cases
	url = git@github.com:SovereignShop/scad-cases.git
[submodule "modules/dome-home"]
	path = modules/dome-home
	url = git@github.com:SovereignShop/dome-home.git
[submodule "modules/re-posh"]
	path = modules/re-posh
	url = git@github.com:cartesian-theatrics/re-posh.git
[submodule "modules/opencascade.js-examples"]
	path = modules/opencascade.js-examples
	url = git@github.com:donalffons/opencascade.js-examples.git
[submodule "modules/cljcsg"]
	path = modules/cljcsg
	url = git@github.com:SovereignShop/cljcsg.git
[submodule "modules/elastic-chamber"]
	path = modules/elastic-chamber
	url = git@github.com:SovereignShop/elastic-chamber.git
[submodule "modules/triangles"]
	path = modules/triangles
	url = git@github.com:SovereignShop/triangles.git
[submodule "modules/vcsg"]
	path = modules/vcsg
	url = git@github.com:SovereignShop/vcsg.git
[submodule "modules/scad-etc"]
	path = modules/scad-etc
	url = git@github.com:SovereignShop/scad-etc.git
[submodule "modules/Marlin"]
	path = modules/Marlin
	url = https://github.com/MarlinFirmware/Marlin.git
[submodule "modules/Ender-3"]
	path = modules/Ender-3
	url = git@github.com:Creality3DPrinting/Ender-3.git
[submodule "modules/klipper-web-control-docker"]
	path = modules/klipper-web-control-docker
	url = git@github.com:SovereignShop/klipper-web-control-docker.git
[submodule "modules/klipper"]
	path = modules/klipper
	url = git@github.com:Klipper3d/klipper.git
[submodule "modules/exwm-module-for-doom-emacs"]
	path = modules/doom-modules/exwm-module-for-doom-emacs
	url = git@github.com:SovereignShop/exwm-module-for-doom-emacs.git
[submodule "clj-gcode"]
	path = modules/clj-gcode
	url = git@github.com:SovereignShop/clj-gcode.git
[submodule "squeeze-tube"]
	path = modules/squeeze-tube
	url = git@github.com:SovereignShop/squeeze-tube.git
[submodule "modules/manifold"]
	path = modules/manifold
	url = git@github.com:SovereignShop/manifold
[submodule "modules/clj-manifold-3d"]
	path = modules/clj-manifold-3d
	url = git@github.com:SovereignShop/clj-manifold-3d.git
[submodule "modules/project-management"]
	path = modules/project-management
	url = git@github.com:SovereignShop/project-management.git
[submodule "modules/clj-manifold3d"]
	path = modules/clj-manifold3d
	url = git@github.com:SovereignShop/clj-manifold3d.git
[submodule "modules/hydroponics"]
	path = modules/hydroponics
	url = git@github.com:SovereignShop/hydroponics.git
[submodule "modules/kossel-printer"]
	path = modules/kossel-printer
	url = git@github.com:SovereignShop/kossel-printer.git
