[submodule "modules/emacs.d"]
	path = modules/emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "modules/doom.d"]
	path = modules/doom.d
	url = git@github.com:cartesian-theatrics/doom.git
[submodule "modules/skyhook"]
	path = modules/skyhook
	url = git@github.com:cartesian-theatrics/skyhook.git
[submodule "modules/blog"]
	path = modules/blog
	url = git@github.com:jmicahc/blog.git
[submodule "modules/practice"]
	path = modules/practice
	url = git@github.com:cartesian-theatrics/practice.git
[submodule "modules/codenames"]
	path = modules/codenames
	url = git@github.com:cartesian-theatrics/codenames.git
[submodule "modules/dlfp"]
	path = modules/dlfp
	url = git@github.com:cartesian-theatrics/dlfp.git
[submodule "modules/clj-rosbag"]
	path = modules/clj-rosbag
	url = https://github.com/cartesian-theatrics/clj-rosbag
[submodule "modules/clj-raft"]
	path = modules/clj-raft
	url = git@github.com:cartesian-theatrics/clj-raft.git
